<ion-content [fullscreen]="true" class="home-content ion-padding">
  <ion-img
    class="logo"
    src="/assets/img/WeRecruit_logo.svg"
    alt="WeRecruit logo"
  ></ion-img>

  <ion-text color="primary" class="welcome">
    <h1>Welcome {{ firstName() }}</h1>
  </ion-text>

  <ion-card class="cta-card" button="true" (click)="goBrowse()">
    <ion-card-header>
      <ion-icon
        name="briefcase-outline"
        class="cta-icon"
        aria-hidden="true"
      ></ion-icon>
      <ion-card-title class="cta-title">
        There are {{ jobCount() }} jobs waiting for you
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="cta-content">
      Please click to browse jobs.
      <div class="cta-actions">
        <ion-button
          color="primary"
          size="default"
          (click)="$event.stopPropagation(); goBrowse()"
        >
          Browse jobs ({{ jobCount() }})
          <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
