<ion-header no-shadow>
  <app-toolbar-back title="Verify code" navigation="/login"></app-toolbar-back>
</ion-header>
<ion-content class="verify-page">
  <section class="ion-padding">
    <h1 class="hero-title">{{ headline }}</h1>
    <p class="hero-subtitle">{{ subtext }}</p>
    <ion-input-otp
      class="otp-input"
      [(ngModel)]="otp"
      length="6"
      type="number"
      fill="solid"
      size="large"
      separators="all"
      (ionComplete)="onOtpComplete($event)"
    >
    </ion-input-otp>
    <div class="resend-row">
      <span class="resend-text">Didn't get a code?</span>
      <button
        type="button"
        class="resend-link"
        (click)="resendCode()"
        [disabled]="resendCountdown > 0"
        [class.resend-disabled]="resendCountdown > 0"
      >
        @if (resendCountdown > 0) { Resend in {{ resendCountdown }}s } @else {
        Resend code }
      </button>
    </div>
  </section>
</ion-content>
<ion-footer class="ion-no-border ion-padding">
  <ion-button
    expand="block"
    color="primary"
    [disabled]="otp.length < 6"
    (click)="submitOtp()"
    >Confirm</ion-button
  >
</ion-footer>

<ion-toast
  [isOpen]="toastOption.show"
  position="top"
  [color]="toastOption.color"
  [message]="toastOption.message"
  duration="4000"
  keyboardClose="true"
  (didDismiss)="setToast()"
></ion-toast>
