:root {
  --ion-color-primary: #2348ad;
  --ion-color-primary-rgb: 8, 25, 184;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0716a6;
  --ion-color-primary-tint: #2130bf;

  --ion-color-secondary: #26d3f5;
  --ion-color-secondary-rgb: 38, 211, 245;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #22bedc;
  --ion-color-secondary-tint: #3cd7f6;

  --ion-color-tertiary: #673ab7;
  --ion-color-tertiary-rgb: 103, 58, 183;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5b33a1;
  --ion-color-tertiary-tint: #764ebe;

  --ion-color-success: #17a97a;
  --ion-color-success-rgb: 23, 169, 122;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #15986e;
  --ion-color-success-tint: #2eb287;

  --ion-color-warning: #f0a325;
  --ion-color-warning-rgb: 240, 163, 37;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d89321;
  --ion-color-warning-tint: #f2ac3b;

  --ion-color-danger: #e53935;
  --ion-color-danger-rgb: 229, 57, 53;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #ce3330;
  --ion-color-danger-tint: #e84d49;

  --ion-color-light: #f3f5fb;
  --ion-color-light-rgb: 244, 248, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dcdfe6;
  --ion-color-light-tint: #f5f9ff;

  --ion-color-medium: #70758b;
  --ion-color-medium-rgb: 112, 117, 139;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #65697d;
  --ion-color-medium-tint: #7e8397;

  --ion-color-dark: #0b1440;
  --ion-color-dark-rgb: 11, 20, 64;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0a123a;
  --ion-color-dark-tint: #232c53;

  --ion-background-color: var(--ion-color-light);

  --recruut-primary-gradient: linear-gradient(180deg, #4594ff 0%, #006fed 100%);
}
