<ion-content [fullscreen]="true" class="login-page">
  <div class="page-inner">
    <section class="hero">
      <ion-img
        class="hero-logo"
        src="/assets/img/Recruut_logo.svg"
        alt="WeRecruit logo"
      ></ion-img>

      <h1 class="hero-title">Sign In</h1>
    </section>

    <section class="form-card">
      @if (showBiometricButton) {
      <div class="biometric-wrapper">
        <ion-button
          expand="block"
          (click)="loginWithBiometric()"
          [disabled]="isBiometricLoading"
          class="primary-btn"
          aria-label="Login with biometrics"
        >
          <ion-icon name="finger-print-outline" slot="start"></ion-icon>
          Login with {{ biometricType }} @if (isBiometricLoading) {
          <ion-spinner name="crescent" slot="end"></ion-spinner>
          }
        </ion-button>

        <div class="divider">
          <span>or</span>
        </div>
      </div>
      }

      <form class="form-default" [formGroup]="signin_form" (submit)="signIn()">
        <ion-item class="input-item" lines="none">
          <ion-icon name="mail-outline" slot="start"></ion-icon>

          <ion-input
            formControlName="email"
            type="email"
            placeholder="Email"
            autocapitalize="off"
            autocomplete="email"
            inputmode="email"
          ></ion-input>
        </ion-item>
        <ion-item class="input-item" lines="none">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>

          <ion-input
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
            autocomplete="current-password"
          ></ion-input>

          <ion-button
            slot="end"
            fill="clear"
            size="small"
            class="field-icon-btn"
            type="button"
            (click)="togglePasswordVisibility()"
            [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'"
          >
            <ion-icon
              [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
              slot="icon-only"
            ></ion-icon>
          </ion-button>
        </ion-item>

        <button
          type="button"
          class="link-forgot"
          (click)="goToForgottenPassword()"
        >
          Forgot Password?
        </button>
        <ion-button
          class="primary-btn"
          type="submit"
          expand="block"
          [disabled]="signin_form.invalid || isLoading"
        >
          Sign In
        </ion-button>
      </form>
      <div class="signup-row">
        <span>Don't have an account?</span>
        <button type="button" class="signup-link" (click)="goToRegister()">
          Sign Up
        </button>
      </div>
    </section>
  </div>
  <ion-loading
    [isOpen]="isLoading"
    message="Signing in..."
    spinner="crescent"
    translucent="true"
    backdropDismiss="false"
  ></ion-loading>

  <ion-toast
    [isOpen]="toastOption.show"
    position="top"
    [color]="toastOption.color"
    [message]="toastOption.message"
    duration="4000"
    keyboardClose="true"
    (didDismiss)="setToast()"
  ></ion-toast>
  <ion-alert
    [isOpen]="isAlertOpen"
    [header]="alertHeader"
    [message]="alertMessage"
    [buttons]="alertButtons"
    (didDismiss)="isAlertOpen = false"
  ></ion-alert>
</ion-content>
