<ion-tabs>
  <ion-tab-bar slot="bottom" class="main-tab-bar ion-padding">
    <ion-tab-button tab="home">
      <div class="tab-icon-wrap">
        <ion-icon name="home"></ion-icon>
      </div>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timesheets">
      <div class="tab-icon-wrap">
        <ion-icon name="calendar"></ion-icon>
      </div>
      <ion-label>Timesheets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="job-history">
      <div class="tab-icon-wrap">
        <ion-icon name="podium-outline"></ion-icon>
      </div>
      <ion-label>Job History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="job-search">
      <div class="tab-icon-wrap">
        <ion-icon name="search"></ion-icon>
      </div>
      <ion-label>Job search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <div class="tab-icon-wrap">
        <ion-icon name="person"></ion-icon>
      </div>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
