.welcome-page {
  position: relative;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/assets/img/edinburgh-from-calton-hill.jpg") no-repeat
      center center;
    background-size: cover;
    opacity: 0.4;
    z-index: 1;
  }

  .content-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
