<div class="rating-root" [style.--size.px]="sizePx()">
  <div class="rating" role="img" [attr.aria-label]="ariaLabel()">
    <div class="stars base">
      @for (i of stars(); track i) {
      <ion-icon name="star-outline"></ion-icon>
      }
    </div>
    <div class="stars fill" [style.width.%]="fillPercent()">
      @for (i of stars(); track i) {
      <ion-icon name="star"></ion-icon>
      }
    </div>
  </div>

  @if (showText()) {
  <span class="rating-text">{{ value().toFixed(1) }} / {{ max() }}</span>
  }
</div>
